* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: $header1;
}
li,
button,
label,
input,
a,
p {
  font-size: $text;
}

h2 {
  font-size: $header2;
  color: $main-color;
  font-weight: 500;
}
h3 {
  font-size: $header3;
  color: $main-color;
  font-weight: 400;
}

ul {
  list-style: none;
}
a.button {
  border: 2px solid $main-color;
  padding: 1.5rem 3rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
a.button:hover {
  border: 2px solid rgba(38, 42, 85, 0.6);
}
a {
  text-decoration: none;
  color: $main-color;
  transition: all 0.3s ease;
}
#logo img {
  transition: all 1s ease-in-out;
}
a:hover {
  color: rgba(38, 42, 85, 0.6);
}
#logo:hover img {
  transform: rotate(180deg);
}
footer {
  text-align: center;
  min-height: 15vh;
  @include flex(center, center, column);
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.25);
  p {
    color: $main-color;
    margin-top: 1rem;
  }
}
