header {
  min-height: 15vh;
  width: 100%;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  @include flex(center, center, row);
  z-index: 2;
  position: relative;
}
nav {
  @include flex(center, center, row);
  margin-left: 2rem;
}
#logo {
  margin: 0 4rem;
}
#logo img {
  height: 50px;
  animation: rotate 1.5s ease-in-out;
}

.hero {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.hero-img {
  margin: 3rem 0 5rem 0;
  img {
    margin: 0 1.5rem;
    opacity: 0;
  }
  img:nth-of-type(1) {
    animation: fadeInLeft 1s forwards;
  }
  img:nth-of-type(2) {
    animation: fadeInRight 1s forwards;
    animation-delay: 0.5s;
  }
}

.hero-text {
  @include flex(flex-start, center, column);
  h2 {
    animation: fadeInBottom 1s forwards;
    animation-delay: 1s;
    opacity: 0;
  }
  p {
    margin: 3rem;
    max-width: 60rem;
    text-align: center;
    color: $main-color;
    animation: fadeInBottom 1s forwards;
    animation-delay: 1.5s;
    opacity: 0;
  }
  a {
    animation: fadeInBottom 1s forwards;
    animation-delay: 2s;
    opacity: 0;
  }
}
.categories {
  @include flex(center, center, row);
  flex-wrap: wrap;
  margin: 20rem 0;
  h3 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
}

.card {
  margin: 2rem 2rem;
  text-align: center;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  div {
    overflow: hidden;
    width: 100%;
    height: 36rem;
  }
  p {
    padding: 3rem 0;
  }
  img {
    transition: all 0.3s ease;
  }
}
.card:hover div img {
  transform: scale(1.1);
}
.contact {
  text-align: center;
  color: $main-color;
  @include flex(center, center, column);
  margin-bottom: 20rem;
  padding: 0 2rem;
  p {
    max-width: 60rem;
    margin: 3rem;
  }
}

@keyframes fadeInBottom {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 910px) {
  .hero-img img {
    height: 30rem;
  }
}
@media only screen and (max-width: 666px) {
  .hero-img img:nth-of-type(2) {
    display: none;
  }
  .hero-img {
    min-height: 85vh;
    width: 100%;
    margin-top: 0;
    object-fit: cover;
  }
  .hero-img img:nth-of-type(1) {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }
  .hero-text {
    min-height: 50vh;
    justify-content: center;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
